<!DOCTYPE html>
<html>
	<head>
		<title>Ironhack Week 2, Day 8 Ruby Exercise</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="container">
			<h1>Dynamic To Do List</h1>
			<div id="menu">
				<ul class="nav">
					<% @menu.each do |title, url| %>
						<li><a href="/<%= url %>"><%= title %></a></li>
					<% end %>
				</ul>
			</div>
			<div id="content">
				<h2>All Tasks:</h2>
				<% @tasks.each do |the_task| %>
					<div class="item_wrap">
						<% if the_task.complete? == false %>
							<div class="pending"><%= the_task.content %> </div>
							<form action="/complete_task" method="POST">
								<input type="hidden" name="task_id" value="<%= the_task.id %>">
								<button type="submit">Mark Complete</button>
							</form>
						<% else %>
							<div class="finished"><%= the_task.content %></div>
							<form action="/uncomplete_task" method="POST">
								<input type="hidden" name="task_id" value="<%= the_task.id %>">
								<button type="submit">Undo Complete</button>
							</form>
						<% end %>
						<form action="/delete_task" method="POST">
							<input type="hidden" name="task_id" value="<%= the_task.id %>">
							<button type="submit">Delete Task</button>
						</form>
						<div class="clear"></div>
					</div>
				<% end %>
			</div>
		</div>
		<footer>
			<ul class="nav">
				<% @menu.each do |title, url| %>
					<li><a href="/<%= url %>"><%= title %></a></li>
				<% end %>
			</ul>
		</footer>
	</body>
</html>