<h1><%= @the_sandwich.name %></h1>
<table>
	<tbody>
	<tr>
		<td>Bread Type:</td>
		<td><%= @the_sandwich.bread_type %></td>
	</tr>
	<tr>
		<td>Ingredients:</td>
		<td>
			<ul id="sammich-ingredients">
				<% @the_sandwich.ingredients.each do |ingredient| %>
					<li><%= ingredient.name %></li>
				<% end %>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Total Calories:</td>
		<td><%= @the_sandwich.total_calories %></td>
	</tr>
</tbody>
</table>
<br>
<h3>All Ingredients Available:</h3>
<% @ingredients.each do |ingredient| %>
	<button class="add_ingredient" data-ingredient-id="<%= ingredient.id %>" data-sandwich-id="<%= @the_sandwich.id%>"><%= ingredient.name %></button>
<% end %>
<p><%= link_to "Back", :back %></p>