<h2>Projects Home</h2>
<br>
<table id="projects">
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= link_to project.name, project_path(project.id) %></td>
				<td>
					<% if project.descript.present? %>
						<%= project.descript %>
					<%else %>
						&nbsp;
					<% end %>
				</td>
				<td>
					<%= link_to "Edit", edit_project_path(project.id) %>
					<br><%= link_to "Delete", project_path(project.id), method: "delete", data: { confirm: "Are you sure?" } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div id="cta"><%= link_to "Add New Task", new_project_path %></div>