<!DOCTYPE html>
<html>
	<head>
		<title>Ironhack Week 2, Movie Trivia Project</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="container">
			<h1>Search Results</h1>
			<div id="trivia" style="padding-left: 30px;">
				<h2>Which Movie was Filmed in <%= @trivia_question.year %>?</h2>
				<% @movies.take(9).each do |the_movie| %>
				<!-- pick winner of question using set array index[n] (which is fine if shuffled every time) -->
					<% if the_movie.poster != nil %>
						<div class="poster">
							<form method="POST" action="/trivia_answer">
								<% if movie.year == @trivia_question.year %>
									<img src="<%= the_movie.poster %>" height="311" width="220" onclick="alert(Yup! You win!)">
									<!-- <input type="image" name="movie_option" src="<%= the_movie.poster %>" height="311" width="220"> -->
								<% else %>
									<img src="<%= the_movie.poster %>" height="311" width="220" onclick="alert(Nope! Try again.)">
									<!-- <input type="image" name="movie_option" src="<%= the_movie.poster %>" height="311" width="220"> -->
								<% end %>
							</form>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="clear"></div>
			<a id="new-game" href="/">Play Again!</a>
		</div>
	</body>
</html>